
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}
#menu-bar{
    background-color: #FFFFFF;
    width: 100%;
}
#menu-bar .menu{
    display: flex;
    width: 85%;
    max-width: 1632px;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
}
#menu-bar .menu .menu-container .menu-list{
    display: flex;
    gap: 38px;
    list-style: none;
}
#menu-bar .menu .menu-container .menu-list .menu-item{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 152%;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    border-radius: 4px;
}
.btn:hover{
    background-color: lightcyan;
    color: #469165;
    border: 1px solid black;
}
#banner{
    background: url(../Images/hero-bg.png);
    padding: 12px 70px 134px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 42%;
    max-height: 674px;
}
#banner .banner, .container .card-container {
    width: 85%;
    max-width: 1632px;
    margin: 134px auto 215px;
    text-align: center;
}
#banner .banner .token{
    display: flex;
    gap: 7.2px;
    color: #469165;
    font-size: 19.2px;
    font-weight: 500;
    padding: 9.6px 14.4px;
    margin: 0 auto 19.2px;
    background-color: #FFFFFF;
    max-width: 274px;
    text-align: center;
    justify-content: center;
    border-radius: 1000px;
}
#banner .banner .banner-title {
    font-size: 76px;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 84px;
    color: #FFFFFF;
}
#banner .banner .banner-title #title{
    color: #30B868;
}
#banner .banner .banner-description {
    font-size: 21px;
    color: #FFFFFF;
    line-height: 24px;
    max-width: 924px;
    margin: 0 auto 32px;
    line-height: 2;
}
.button{
    display: flex;
    gap: 19px;
    justify-content: center;
}
.button #play-btn{
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
    font-weight: 600;
}
.button #play-btn:hover{
    background-color: lightcyan;
    color: #469165;
    border: 1px solid black; 
}
.container {
    text-align: center;
}
.container .card-container{
    margin-top: 80px;
    margin-bottom: 0;
}
.container .card-container h2{
    font-size: 57.6px;
    color: #001931;
    margin-bottom: 16px;
}
.container .card-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.container .card-container .card-list{
    display: flex;
    gap: 24px;
    border-radius: 8px;
    justify-content: center;
}

.container .card-container .card-list .card{
    max-width: 322px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px #7a5c5c59;
    text-align: center;
    justify-content: center;
} 
.container .card-container .card-list .card img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    margin: 84px auto 16px;
    padding: 14px;
    border-radius: 50%;
}
.container .card-container .card-list .card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 0px auto 16px;
}
.container .card-container .card-list .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 274px;
}

#second-brain{
    max-width: 100%;
    padding: 120px;
    margin: 0;
}
#second-brain .second-brain{
    width: 85%;
    max-width: 1632px;
    text-align: center;
    display: flex;
    gap: 72px;
    align-items: center;
}
#second-brain .second-brain img {
    width: 720px;
    height: 720px;
    border-radius: 12px;
}
#second-brain .second-brain .description{
    width: 720px;
    text-align: left;
    margin: auto 0;
}
#second-brain .second-brain .description .title{
    font-size: 19px;
    font-weight: 500;
    color: #469165;
    line-height: 24px;
    margin-bottom: 18px;
}
#second-brain .second-brain .description h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 19px;
}
#second-brain .second-brain .description p{
    font-size: 19px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 40px;
    padding-right: 100px;
}
#second-brain .second-brain .description .checklist{
    list-style: none;
}
#second-brain .second-brain .description .checklist .checklist-item{
    color: #001931;
    font-size: 19px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 19px;
}
#second-brain .second-brain .description .checklist .checklist-item i{
    color: #30B868;
}